.housing__section {
  margin: 0px var(---margin-desktop) 48px var(---margin-desktop);
}

.housing__informations {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.housing__title {
  color: var(---primary-color);
  font-size: 36px;
  margin: 0px;
}

.housing__location {
  color: var(---primary-color);
  font-size: var(---18px-fontSize);
  margin: 8px 0px 24px 0px;
}

.housing__tagsWrapper {
  display: flex;
  gap: 8px;
}

.housing__host {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;
}

.housing__hostName {
  color: var(---primary-color);
  font-size: var(---18px-fontSize);
  text-align: end;
  width: 50%;
}

.housing__hostPicture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.star__iconWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.housing__collapseWrapper {
  display: flex;
  justify-content: center;
  gap: 72px;
}

.housing__equipments {
  margin: 0;
}

@media (max-width: 1150px) and (min-width: 768px) {
  .housing__tagsWrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  .housing__section {
    margin: 0px 32px 64px 32px;
  }
}

@media screen and (max-width: 767px) {
  .housing__section {
    margin: 0px var(---margin-mobile) 64px var(---margin-mobile);
  }

  .housing__informations {
    flex-direction: column;
    margin-top: 16px;
  }

  .housing__title {
    font-size: var(---18px-fontSize);
  }

  .housing__location {
    font-size: 14px;
    margin: 8px 0px;
  }

  .housing__hostAndRatingWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }

  .housing__host {
    justify-content: flex-end;
    margin-bottom: 0px;
  }

  .housing__hostName {
    font-size: 12px;
  }

  .housing__hostPicture {
    width: 32px;
    height: 32px;
  }

  .star__iconWrapper {
    gap: 5px;
  }

  .housing__collapseWrapper {
    flex-direction: column;
    gap: 24px;
  }

  .housing__collapse {
    font-size: 13px;
  }
}
