.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 56px;
  margin: 40px var(---margin-desktop);
  padding: 56px 0px;
  background-color: var(---secondary-color);
  border-radius: var(---borderRadius-desktop);
}

.card__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .cards__wrapper {
    gap: 24px;
    background-color: var(---white);
    padding: 0px;
    margin: 24px var(---margin-mobile);
  }
}
