.card__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.card__image {
  width: 340px;
  height: 340px;
  border-radius: var(---borderRadius-mobile);
  object-fit: cover;
}

.card__title {
  position: absolute;
  font-size: var(---18px-fontSize);
  color: var(---white);
  margin: 0px 0px 16px 16px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .card__image {
    width: var(---pictureWidth-mobile);
    height: 255px;
  }
}
