.collapse__wrapper {
  width: 70%;
}

.collapse__titleWrapper {
  height: 47px;
  background-color: var(---primary-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.collapse__title {
  color: var(---white);
  font-size: var(---24px-fontSize);
}

.collapse__arrow {
  cursor: pointer;
}

.collapse__textWrapper {
  border-radius: 0px 0px 5px 5px;
  padding: 32px 0px 24px 16px;
  background-color: var(---secondary-color);
}

.collapse__text {
  color: var(---primary-color);
  font-size: var(---24px-fontSize);
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 1110px) {
  .collapse__wrapper {
    width: 100%;
  }
}
