html {
  ---primary-color: #ff6060;
  ---secondary-color: #f6f6f6;
  ---white: #fff;
  ---black: #000;
  ---18px-fontSize: 18px;
  ---24px-fontSize: 24px;
  ---borderRadius-desktop: 25px;
  ---borderRadius-mobile: 10px;
  ---margin-desktop: 100px;
  ---margin-mobile: 24px;
  ---pictureWidth-desktop: 1240px;
  ---pictureWidth-mobile: 335px;
}
