.navigationBar {
  margin-top: 56px;
}

.navigationBar__links {
  color: var(---primary-color);
  font-size: var(---24px-fontSize);
  text-decoration: none;
}

.navigationBar__links:focus {
  text-decoration: underline;
}

.navigationBar__homeLink {
  margin-right: 56px;
}
