.navigationBar {
  margin-top: 56px;
}

.navigationBar a {
  color: var(---primary-color);
  font-size: var(---24px-fontSize);
  margin-left: 56px;
  text-decoration: none;
}

.navigationBar a.active {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .navigationBar {
    margin-top: 40px;
  }

  .navigationBar a {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 8px;
  }
}
