.banner__section--medium .banner__wrapper {
  margin: 48px var(---margin-desktop) 0px var(---margin-desktop);
}

.banner__section--large .banner__wrapper {
  margin: 64px var(---margin-desktop) 0px var(---margin-desktop);
}

.banner__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__image {
  width: var(---pictureWidth-desktop);
  height: 223px;
  object-fit: cover;
  border-radius: var(---borderRadius-desktop);
  filter: brightness(70%);
}

.banner__title {
  font-size: 48px;
  position: absolute;
  color: var(---white);
}

@media screen and (max-width: 930px) {
  .banner__title {
    width: 70%;
    padding-left: 16px;
  }
}

@media screen and (max-width: 767px) {
  .banner__section--large .banner__wrapper,
  .banner__section--medium .banner__wrapper {
    margin: 16px var(---margin-mobile) 0px var(---margin-mobile);
  }

  .banner__section--large .banner__image,
  .banner__section--medium .banner__image {
    border-radius: var(---borderRadius-mobile);
    width: 100%;
  }

  .banner__section--large .banner__image {
    height: 111px;
  }

  .banner__title {
    font-size: var(---24px-fontSize);
  }
}
