.banner__wrapper {
  margin: 64px var(---margin-leftAndRight) 0px var(---margin-leftAndRight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__image {
  width: var(---picture-width);
  height: 223px;
  object-fit: cover;
  border-radius: var(---border-radius);
  filter: brightness(70%);
}

.banner__title {
  font-size: 48px;
  position: absolute;
  color: var(---white);
}
